@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

:root{
    --background-color: black;
    --primary-color: white;
    /* --accent-color: rgb(250, 209, 50); */
    --accent-color: rgb(255, 208, 0);
    --header-color: rgb(255, 184, 30);
}

body{
    font-family: RaleWay;
    background-color: var(--background-color);
    color: var(--primary-color);
}

p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

h2 {
    color: var(--header-color);
    text-align: center;
}

h3 {
    color: var(--header-color);
    margin-left: 5%;
    margin-right: 5%;
}

h3::before {
    content: "•";
    
}
a {
    cursor: pointer;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    margin: auto 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

nav a{
    color: var(--primary-color);
    position: relative;
    text-decoration: none;
    font-weight: 500;
}

nav a::after{
    content: "";
    left: 50%;
    background-color: var(--accent-color);
    width:0;
    height: 0.1em;
    display: block;
    position: absolute;
    transition-property: width, left;
    transition-duration: 0.1s;
}

nav a:hover::after,
nav a.active::after{
    width:100%;
    left: 0;
}

nav a:hover,
nav a.active{
    color: var(--accent-color);
}

#social-media-container{
    display: flex;
    justify-content: center;
}

#social-media-container a{
    margin: 0.7em;
    font-size: 2em;
    background-color: var(--accent-color);
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--background-color);
    transition-property: height, width;
    transition-duration: 0.3s;
    text-decoration: none;
}

#social-media-container a:hover{
    
    color: var(--primary-color);
    height: 2.5em;
    width: 2.5em;
}

#hero-title{
    border: var(--primary-color) 0.4rem solid;
    padding: 1em 8em;
    position: absolute;
    text-align: center;
}
#hero-title h1{
    color: var(--accent-color);
    font-size: 3em;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
}

#book-now {
    position: absolute;
    bottom: 10%;
    color: var(--background-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 2em;
    border: var(--accent-color) 0.2em solid;
    padding: 0.5em;
    border-radius: 100vw;
    transition-property: padding;
    transition-duration: 0.2s;
  }

  #book-now:hover {
      /* border-color: var(--primary-color);
      background-color: var(--primary-color); */
      color: var(--primary-color);
      padding: 0.8em;
  }
  
  .testimonial {
      color: rgb(251, 255, 40);
      margin-left: 5%;
      margin-right: 5%;
  }